#bells {
  height: 30px;
  width: 50px;
  color: white;
}
#search {
  margin-top: 6px;
  color: white;
  height: 25px;
  width: 30px;
}
.icon {
  height: 25px;
  width: 30px;
  border: white 1px solid;
}
#dropdown-basic {
  border: white 1px solid;
  border-radius: 0%;
}
